@{
    ViewBag.Title = "How To Use";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="animate.min.css">

    <style>
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color:ghostwhite;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js">
    </script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300" rel="stylesheet">

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <button type="button" class="btn btn-default navbar-btn" id="myBtn" >How To Use</button>
                <button class="btn navbar-btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    <span class="glyphicon glyphicon-th-list"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" id="myList">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li role="separator" class="divider"></li>
                    <li>@Html.ActionLink("The Team", "About", "Home")</li>
                    <li role="separator" class="divider"></li>
                    <li>@Html.ActionLink("Your Meeba", "Index", "MeebaInfoes")</li>
                </ul>
                
                @Html.Partial("_LoginPartial")
                </div>
                <!-- The Modal -->
                <div id="myModal" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content animated fadeIn">
                        <span class="close">&times;</span>
                        <p><b>How To Create A Profile:</b> To create a profile, you can manually input your own username and password or you can register through your Google account.
                         *Note: the password must be at least 6 characters long and include at least one number and one special character (!#$% etc.).</p>
                        <p><b>How do I read the Meeba (the scale)?</b> Your Meeba has two scales. one called <b>Pull</b> that will measure your <i> Inner / Outer</i> skew. 
                        The second is called <b>Categories</b> that will show you how much time you're giving to the different areas of your life.</p>
                        <p>
                            <b>How Do I Use Meeba?</b>We know that no two lives are the same,so youre idea of balanced my be diffrent from what we have set for defaults.However,the goal is to remain as close to your personal balance as possible.
                            If you have too many things pulling your life to the Inner(Personal) you may want to pay more attention to the things you have scheduled for your Outer(social) and vice versa.
                        </p>
                        <p> <b> Pull</b> and <b>Categories</b> scales and to keep your <i>Inner / Outer</i> pull as balanced as possible.</p>
                        <p><b>What is Pull? (<i>Inner / Outer</i>) </b><i>Pull</i> references how much the activities you enter are skewed towards <i>Inner / Outer</i> spectrum.
                         refrences how much the activities you enter are "skewed" towards the inner or outer spectrum</p>
                        <p><b><i>Inner/Outer</i></b> These represnt tasks that are either part of your personal well being or your social well being. 
                        <i>Inner</i> represents any event or activity that you do for yourself. It could be a walk, a night out with friends, an hour of reading or anything that benefits you directly.
                         <i>Outer</i> represents any event or activity that you do for others. This includes work, school projects, running errands for the benefit of others.</p>
                        <p><b>What Are All These Catagories?</b> These are put here to help you figure out where your task best fits. When you create a new task, choose a category that best aligns to tasks in your own life.</p>
                        <p><b>How Do I Delete Info (Remove Completed or Unwanted Tasks?)</b> Go to <i>Create Event</i> Select <i>Delete</i></p>
                        

                    </div>
                 

                   
                </div><!--/.nav-collapse -->
        </div>
    </div>
    <div class="container">
        @RenderBody()
        <hr />
    </div>
        <footer class="container">
            <p>&copy; @DateTime.Now.Year - Bearings</p>
        </footer>
    


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
    </script>
</body>
</html>
