@model IEnumerable<BearingsWebApp.Models.MeebaInfo>

@{
    ViewBag.Title = "Index";
}
<style>
    body {
        background-color: #f9f4e5;
        font-family: 'Open-Sans', sans-serif;
    }
</style>

<input type="button" class="btn btn-primary" value="Create New Task" onclick="location.href='@Url.Action("Create", "MeebaInfoes")'" />

<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>

<button id="evtsBtn" class="btn btn-primary">Show Tasks</button>

<!-- The Modal -->
<div id="evtsModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="evtsList">

            @foreach (var item in Model)
            {
                <div>
                    @Html.DisplayFor(modelItem => item.itemName)<br />
                    @Html.DisplayFor(modelItem => item.category)<br />
                    @Html.DisplayFor(modelItem => item.pull)<br />
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID, category = item.category, pull = item.pull })
                </div>
            }
        </div>
    </div>
</div>

<canvas id="myChart" width="400" height="400"></canvas>
<canvas id="canvas"></canvas>

<script>
    var evtsModal = document.getElementById("evtsModal");

    // Get the button that opens the modal
    var evtsBtn = document.getElementById("evtsBtn");

    // Get the <span> element that closes the modal
    var evtsSpan = document.getElementsByClassName("close")[1];

    var redirect = document.getElementById("redirectBtn");



    // When the user clicks the button, open the modal
    evtsBtn.onclick = function () {
        evtsModal.style.display = "block";

    }

    // When the user clicks on <span> (x), close the modal
    evtsSpan.onclick = function () {
        evtsModal.style.display = "none";

    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == evtsModal) {
            evtsModal.style.display = "none";
        }
    }

    


    var ctx = document.getElementById("myChart").getContext('2d');

    var myChart = new Chart(ctx, {
        type: 'radar',
        data: {
            labels: ["Appointments", "Social", "Inner", "Events", "Personal", "Work", "Outer", "Other"],

            datasets: [
                {
                    label: 'Categories',
                    data: [@ViewData["Appointments"], @ViewData["Social"],@ViewData["Inner"], @ViewData["Events"], @ViewData["Personal"],@ViewData["Work"], @ViewData["Outer"], @ViewData["Other"]],
                    backgroundColor: 'rgba(126, 20, 174, 0.5)',
                },

                {
                    label: 'Pull',
                    data: [.5, 5, @ViewData["Inner"], 5, .5, 5, @ViewData["Outer"], 5],
                    backgroundColor: ['rgba(11, 29, 92, 0.5)', ]

                },


            ],

            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        }
    });
</script>